<div class="main-box" id="mainBox">
    <h3>Detalles del Registro @Id</h3>
    <table>
        <tr>
            <td>Fecha y Hora:</td>
            <td>@Logged.ToString("yyyy-MM-dd HH:mm:ss")</td>
        </tr>
        <tr>
            <td>Nivel:</td>
            <td>@Level</td>
        </tr>
        <tr>
            <td>Solicitud:</td>
            <td>@Request_method</td>
        </tr>
        <tr>
            <td>Mensaje:</td>
            <td>@Message</td>
        </tr>
        <tr>
            <td>Logger:</td>
            <td>@Logger</td>
        </tr>
        <tr>
            <td>Equipo:</td>
            <td>@MachineName</td>
        </tr>
        <tr>
            <td>Stacktrace:</td>
            <td>@Stacktrace</td>
        </tr>
        <tr>
            <td>Archivo:</td>
            <td>@File_name</td>
        </tr>  
        <tr>
            <td>Código de estado:</td>
            <td>@Status_code</td>
        </tr>
    </table>
</div>


<style>
    h3 {
        margin-bottom: 7%;       
        text-transform: uppercase;       
    }

    .main-box {
        table

    {
        width: 100%;
        border-collapse: initial;
        padding-bottom: 5%;
    }

    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align:left;
    }

        td:first-child {
            width: 150px;
            color: #b7f8ce;
            text-transform: uppercase;
        }
    }
</style>
