@page "/LogList"
@using EcoLogTracking.Client.Models

@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject ILocalStorageService storageService

<div class="main-container">   

    @RenderLoadingIndicator()


    @if (!IsLoading)
    {
        <Grid TItem="Log"
              AllowFiltering="true"
              AllowPaging="true"
              PageSize="25"
              AllowRowClick="true"
              AllowSorting="true"              
              HeaderRowCssClass="bg-secondary text-white border-bottom-0"
              FiltersRowCssClass="bg-secondary text-white bg-opacity-25 border-bottom-0"
              DataProvider="LogsDataProvider"          
              Responsive="true"
              EmptyText="No se han obtenido registros"
              OnRowClick="SelectLogItem"
              OnRowDoubleClick="OnClickShowDetails"
              PageSizeSelectorVisible = "true"
              PageSizeSelectorItems="@(new int[] { 10,25,50,100})"
              class="table grid-style"
              @ref="DataGrid">

            <GridColumn TItem="Log" HeaderText="ID" PropertyName="ID" SortKeySelector="item => item.Id" IsDefaultSortColumn="true">
                @context.Id
            </GridColumn>

            <GridColumn TItem="Log" HeaderText="Fecha/Hora" PropertyName="Logged" SortKeySelector="item => item.Logged">
                @context.Logged
            </GridColumn>

            <GridColumn TItem="Log" HeaderText="Nivel" PropertyName="Level" SortKeySelector="item => item.Level" >
                @context.Level.ToUpper()
            </GridColumn>

            <GridColumn TItem="Log" HeaderText="Status Code" PropertyName="Message" SortKeySelector="item => item.Status_code">
                @context.Status_code
            </GridColumn>

            <GridColumn TItem="Log" HeaderText="StackTrace" PropertyName="Message" SortKeySelector="item => item.Message" >
                @context.Message
            </GridColumn>

            <GridColumn TItem="Log" HeaderText="Logger" PropertyName="Logger" SortKeySelector="item => item.Logger" >
                @context.Logger
            </GridColumn>   
        </Grid>
    }
</div>

<style>
    .main-container{
        padding-top: 1%;     
        padding-bottom: 25px;
    }

    .mt-2 {
        margin-top: 1.5rem !important;
    }
</style>
